Can minify CSS:  #test($cssMinifyTool.testCssMinifier())
Can minify JS (whitespace only):  #test($UtilMethods.isSet($jsMinifyTool.testWhitespaceJsMinifier()))
Can minify JS (simple):  #test($UtilMethods.isSet($jsMinifyTool.testSimpleJsMinifier()))
Can minify JS (advanced):  #test($UtilMethods.isSet($jsMinifyTool.testAdvancedJsMinifier()))